<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hitszhkr1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".drawerActivities.FeedbackActivity"
            android:theme="@style/Theme.ActivityDialogStyle" >
        </activity>
        <activity android:name=".drawerActivities.NightModeActivity" />
        <activity
            android:name=".activity.CommentSubmitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ActivityDialogStyle" />
        <activity
            android:name=".activity.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawerActivities.FavorActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MorePicturesActivity" /> <!-- 高德地图API key配置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6fafdb7eb11f4522152216c747197edc" />

        <activity
            android:name=".drawerActivities.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FacilityItemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CanteenItemActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TransluctNavigationTheme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".drawerActivities.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>